<div class="flex flex-col h-screen justify-center items-center">
  <span class="mb-5"><b>Welcome to the Tesla System</b></span>
  <span>Please go to Vehicle Telemetries or Catalog to interact with the system</span>
</div>